# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.venv/

# CDK
cdk.out/

# Node
node_modules/
dist/

# Environment
.env
!*.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dev logs
dev-log/

# Test results
test-results/
playwright-report/
