# App
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=development
FRONTEND_URL=http://localhost:5173

# ngrok
NGROK_BACKEND_URL=

# LINE
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# Anthropic
ANTHROPIC_API_KEY=

# GAS WebApp
GAS_WEBAPP_URL=
GAS_MAIL_WEBAPP_URL=
